{% extends 'base.html' %}
{% block body %}
<form method="post" enctype="multipart/form-data" style="text-align:center">
  {% csrf_token %}
  <h1>Add Movie Details</h1>
  <input type="text" name="name" placeholder="Enter Movie name" ><br>
  <input type="text" name="year" placeholder="Enter Movie year"><br>
  <input type="text" name="rating" placeholder="Enter Movie rating"><br>
  <input type="text" name="desc" placeholder="Enter Movie Description"><br>
  <input type="File" name="img"><br>
  <input type="submit"><br>
</form>

{% endblock %}
